body{
  margin:20px;
}
.avatar{
  width:150px;
  align-items:center;
} 
.card{
  
  padding:20px;
  display: flex; 
  justify-content:space-around;
  width:400px;
  margin:0 auto;
  align-items:center;
  text-color:#2b2839;
  background-color:#ddebf8;
  border-bottom:6px solid #d8cefe;
}
